<%= form_with(model: [script, spend]) do |f| %>

  <%
    category_list = [
      ['Transporte', 'transporte'],
      ['Acomodação', 'acomodacao'],
      ['Alimentação', 'alimentacao'],
      ['Atividades', 'atividades'],
      ['Compras', 'compras'],
      ['Outros', 'outros']
    ]
  %>

  <div class="mb-3 d-flex flex-row gap-2">
        <div class="w-auto">
      <%= f.number_field :amount, step: :any,
                       class: 'form-control',
                       placeholder: 'Gasto (Ex: 150.00)',
                       id: 'new-spend-amount' %>
    </div>

    <div class="w-auto">
      <%= f.number_field :quantity,
                         class: 'form-control',
                         placeholder: 'Quantidade (Ex: 2)',
                         step: 1,
                         id: 'new-spend-quantity' %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.date_field :date,
                         class: 'form-control',
                         id: 'new-spend-date' %>
  </div>

  <div class="mb-3">
    <%= f.select :category, category_list, { prompt: 'Selecione uma categoria' },
                       class: 'form-control',
                       id: 'new-spend-category'
    %>
  </div>

  <%= f.button "Adicionar Gasto", class: 'btn btn-primary w-100', id: 'add' %>

<% end %>